/* إعدادات الألوان العامة */
:root {
    --bg-color: #f4f4f9;
    --text-color: #000000;
    --header-bg-color: #1a1a2e;
    --header-text-color: #ffffff;
    --button-bg-color: #FEBD69;
    --button-hover-bg-color: #F3A847;
    --search-bg-color: #e1e8ed;
    --search-placeholder-color: #aaa;
    --result-bg-color: #E1E8ED;
    --result-hover-bg-color: #e9f3ff;
    --product-bg-color: #ffffff;
    --product-shadow-color: rgba(0, 0, 0, 0.1);
}

/* الوضع الداكن */
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --header-bg-color: #333;
    --header-text-color: #ffffff;
    --button-bg-color: #444;
    --button-hover-bg-color: #666;
    --search-bg-color: #333;
    --search-placeholder-color: #777;
    --result-bg-color: #444;
    --result-hover-bg-color: #555;
    --product-bg-color: #333;
    --product-shadow-color: rgba(0, 0, 0, 0.5);
}

/* Resetting margin and padding for a clean start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Header styling */
header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0px;*/
}

    header h1 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    transform-style: preserve-3d;
    perspective: 500px;
    animation: toggle__animation 3s infinite;
}

    .switch::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        filter: blur(20px);
        z-index: -1;
        border-radius: 50px;
        background-color: #d8ff99;
        background-image: radial-gradient(at 21% 46%, hsla(183,65%,60%,1) 0px, transparent 50%), radial-gradient(at 23% 25%, hsla(359,74%,70%,1) 0px, transparent 50%), radial-gradient(at 20% 1%, hsla(267,83%,75%,1) 0px, transparent 50%), radial-gradient(at 86% 87%, hsla(204,69%,68%,1) 0px, transparent 50%), radial-gradient(at 99% 41%, hsla(171,72%,77%,1) 0px, transparent 50%), radial-gradient(at 55% 24%, hsla(138,60%,62%,1) 0px, transparent 50%);
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #17202A;
    transition: .4s;
    border-radius: 30px;
}


.input__check:checked + .slider {
    background-color: #b8c8ff;
}

    .input__check:checked + .slider:before {
        transform: translateX(1.5em);
    }


.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}



input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

@keyframes toggle__animation {
    0%, 100% {
        transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
    }

    50% {
        transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
    }
}




.image-icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.image-icon {
    transform: scale(1);
    transition: transform 0.3s ease;
}
/* Search Box Container */
.search-box {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    height: 30px;
    font-size: 16px;
    color: var(--text-color);
    width: 360px;
    border-radius: 15px;
    padding-left: 10px; /* إضافة مسافة من الحافة اليسرى */

}

.search-container {
    position: relative; /* مهم لتحديد موقع العناصر داخل الحاوي */
    margin-top: -5px;
    display: flex;
    align-items: center;
    background-color: var(--search-bg-color);
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px;
    width: 90%;
    z-index: 103;

}

/* تعديل حدود مربع البحث للوضع المظلم */
[data-theme="dark"] .search-container {
    border: 2px solid #777; /* لون الحدود لتوضيحها في الوضع المظلم */
}


.search-box::placeholder {
    color: var(--search-placeholder-color);
}

button {
    background-color: var(--button-bg-color);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

    button .fa-solid {
        width: 25px;
        color: #555;
        font-size: 22px;
        cursor: pointer;
        transition: transform 0.3s ease;

    }



    button:hover {
        background-color: var(--button-hover-bg-color);
    }

        button:hover .fa-solid {
            transform: scale(1.2);
        }

.fa-solid:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.fa-solid {
    transform: scale(1);
    transition: transform 0.3s ease;
}

.search-box::placeholder {
    color: #aaa;
}


.result-box {
    position: absolute;
    top: 100%; /* يظهر مباشرةً تحت الـ search-container */
    left: 0px;
    background-color: var(--result-bg-color);
    border: 1px solid #ccc;
    border-radius: 0px 0px 5px 5px;
    width: 100%; /* ليكون بنفس عرض search-container */
    box-shadow: 0px 4px 8px var(--product-shadow-color);
    overflow-y: auto;
    overflow-x: auto;
    display: none;
    z-index: 101;
}


    .result-box ul {
        border-top: 1px solid #999;
        padding: 5px 0px;
    }

        .result-box ul li {
            list-style: none;
            border-radius: 3px;
            padding: 9px 6.5px;
            cursor: pointer;
        }

            .result-box ul li:hover {
                background: var(--result-hover-bg-color);
            }

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        margin-left: 1rem;
        padding: 5px 0px;
    }

        nav ul li a {
            color: var(--header-text-color);
            text-decoration: none;
            margin-top: -10px; /* استخدام margin-top لخفض الكلمة */
            line-height: 1.5; /* للتأكد من ارتفاع السطر */
        }


/* From Uiverse.io by Na3ar-17 */
.radio-input {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

    .radio-input * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .radio-input label {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0px 20px;
        width: 220px;
        cursor: pointer;
        height: 50px;
        position: relative;
        right: -4px;
    }

        .radio-input label::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 220px;
            height: 45px;
            z-index: -1;
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            border-radius: 10px;
            border: 2px solid transparent;
        }

        .radio-input label:hover::before {
            transition: all 0.2s ease;
            background-color: #2a2e3c;
        }

    .radio-input .label:has(input:checked)::before {
        background-color: #2d3750;
        border-color: #435dd8;
        height: 50px;
    }

    .radio-input .label .text {
        color: #fff;
    }

    .radio-input .label input[type="radio"] {
        background-color: #202030;
        appearance: none;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .radio-input .label input[type="radio"]:checked {
            background-color: #435dd8;
            -webkit-animation: puls 0.7s forwards;
            animation: pulse 0.7s forwards;
        }

        .radio-input .label input[type="radio"]:before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
            background-color: #fff;
            transform: scale(0);
        }

        .radio-input .label input[type="radio"]:checked::before {
            transform: scale(1);
        }

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}


#product-item {
    position: relative;
    display: inline-block;
    width: 230px;
    background-color: var(--button-bg-color);
    height: 42px;
    border-radius: 5px 0px 0px 5px;
}

#product-item:hover {
        background-color: var(--button-hover-bg-color);
}

#product-link {
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    justify-content: center; /* لضبط النص في المنتصف */
    align-items: center;
    height: 100%; /* لضبط الصندوق بالكامل */
    width: 100%;
}


.dropdown {
    display: none;
    position: absolute;
    background-color: var(--header-bg-color);
    list-style: none;
    padding: 0.1rem 0;
    border-radius: 10px;
    z-index: 100;
    top: 100%; /* يظهر مباشرةً أسفل المنتج المحدد */
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
}





    .dropdown li a {
        padding: 0.5rem 1rem;
        /* Padding for dropdown items */
        color: var(--header-text-color);
        z-index: 101;
    }

/* Hero section */
.hero {
    background-color: #789796;
    color: #ffffff;
    padding: 3rem 1rem;
    text-align: center;
}

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.2rem;
    }






/* Footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

    footer p {
        font-size: 12px;
        margin-bottom: 1rem;
    }

    footer ul {
        list-style: none;
        display: inline-flex;
        gap: 10px;
    }

        footer ul li a {
            color: var(--header-text-color);
            text-decoration: none;
        }
